APP_NETWORK=nginx_network
OBSERVABILITY_UID=1000
OBSERVABILITY_GID=1000
GRAFANA_ADMIN_USER=cryptun_228
GRAFANA_ADMIN_PASSWORD=change-this-on-server-only
GF_SERVER_DOMAIN=promtail.vadim-denisovich.ru
GF_SERVER_ROOT_URL=https://promtail.vadim-denisovich.ru/
